<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges Achievements</title>
    <link rel="stylesheet" href="../CSS/Badges.css">

</head>
<body>
    <h1>Badges Achievements</h1>
    <hr />
    <h4 class="habit category">Job Hunting</h4>
    <div class="image-container">
        <img src="../../pics/job hunting pic.png" alt="Job hunting category picture" class="larger-image">
        <!-- background green: DBEBE3; height: 110 -->
        <img src="../../pics/job hunting finished.png" alt="Jon hunting finished">
        <img src="../../pics/job hunting finished.png" alt="Jon hunting finished">
        <img src="../../pics/job hunting finished.png" alt="Jon hunting finished">
        <img src="../../pics/job hunting undone.png" alt="Jon hunting undone">
        <img src="../../pics/job hunting undone.png" alt="Jon hunting undone">
      </div>
    <h6 class="weekly-tracking">1w</h6>
    
</body>
</html>