.announcement-bar {
  background-color: rgba(113, 232, 113, 0.816);
  color: rgb(36, 16, 16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.announcement-item {
    margin-right: 50px;
  }

.announcement-content p {
  margin-right: 2rem;
}

.name {
  color: rgb(170, 66, 198);
  font-weight: bold;
}

.badge-categoty {
  color: brown;
  font-weight: bold;
}
