body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-direction: row; /* Explicitly set flex-direction to row */
}

img {
    max-height: 55px; /* Set the maximum height of other images to half of the larger image */
    margin-right: 15px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.larger-image {
    max-height: 100px; /* Set the maximum height of the larger image */
    flex-grow: 2;
}
