.task-recommendation-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem;
  min-height: 100vh;
  background-color: #f5f5f5; /* This is already correct */
}

.task-recommendation-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Set exact number of columns */
  gap: 0.625rem;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1.25rem; 
}

.task-recommendation-buttons button {
  padding: 0.625rem;
  border: 1px solid #ccc; /* Add a border to match the image */
  border-radius: 0.3125rem;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.task-recommendation-buttons button:hover {
  background-color: #d3d3d3; 
}

.task-recommendation-buttons button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(113, 232, 113, 0.5);
}

.task-recommendation-buttons button.other-button {
  grid-column: 1 / -1; 
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgba(31, 158, 31, 0.816);
  box-shadow: none;
}

.task-recommendation-buttons button.selected-category {
  background-color: #e0e0e0;

}

.custom-habit-input {
  background-color: #f5f5f5; 
  border: 1px solid #dcdcdc;
  border-radius: 15px; 
  padding: 4px 8px;
  font-size: 1.1rem; 
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  outline: none; 
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 1rem; 
}

.custom-habit-input::placeholder {
  color: #a9a9a9; 
}

.custom-habit-input:focus {
  border-color: #b0c4de; 
  box-shadow: 0 0 0 3px rgba(176, 196, 222, 0.5); 
}

.frequency-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 20px;
}

.frequency-card {
  margin-bottom: 20px; 
}

.frequency-card:last-child {
  margin-bottom: 0; 
}
