.user-lists {
  background-color: #dbebe3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: auto;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
}

.community-filter {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.community-filter label {
  margin-right: 10px;
  font-weight: bold;
}

.community-filter select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.user-lists > * { 
  width: 100%; 
  text-align: center; 
  margin: 0;
  padding: 10px;
}